@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Gilroy heavy,sans-serif";
  src: url("/assets/fonts/Gilroy-Heavy.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy bold,sans-serif";
  src: url("/assets/fonts/Gilroy-Bold.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy medium,sans-serif";
  src: url("/assets/fonts/Gilroy-Medium.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy regular,sans-serif";
  src: url("/assets/fonts/Gilroy-Regular.ttf");
  word-wrap: break-word;
}

@font-face {
  font-family: "Gilroy light,sans-serif";
  src: url("/assets/fonts/Gilroy-Light.ttf");
  word-wrap: break-word;
}

.font_gilroy_heavy {
  font-family: "Gilroy heavy,sans-serif";
}

.font_gilroy_bold {
  font-family: "Gilroy bold,sans-serif";
}

.font_gilroy_light {
  font-family: "Gilroy light,sans-serif";
}

.font_gilroy_medium {
  font-family: "Gilroy medium,sans-serif";
}

.font_gilroy_regular {
  font-family: "Gilroy regular,sans-serif";
}